<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">


	<title ng-bind="$root.getTitle()"></title>
	<!-- <title ng-if="previewMode">Preview {{$root.site.title}}</title> -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<!--//////////////////////////////////////////-->
	<!-- fluro:mobilewebapplication -->
	<!--//////////////////////////////////////////-->


	<!--//////////////////////////////////////////-->
	<!-- fluro:devstart -->
	<!-- <meta property="fluro_url" content="https://api.staging.fluro.io"> -->
	<meta property="fluro_url" content="http://v2.api.fluro.dev:3000">
	<meta property="app_dev_url" content="https://webbuilder.fluro.io">
	<!-- <meta property="fluro_application_key" content="APPLICATION_KEY"> -->
	<!-- fluro:devend -->
	<!--//////////////////////////////////////////-->

	<!--//////////////////////////////////////////-->
	<!-- fluro:config -->
	<!--//////////////////////////////////////////-->

	<!--//////////////////////////////////////////-->
	<!-- build:css /css/vendor.css -->
	<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" />
	<!-- bower:css -->
	<link rel="stylesheet" href="/bower_components/angular-loading-bar/build/loading-bar.css" />
	<link rel="stylesheet" href="/bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" />
	<link rel="stylesheet" href="/bower_components/ng-sortable/dist/ng-sortable.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!--//////////////////////////////////////////-->

	<!--//////////////////////////////////////////-->
	<!-- build:css /css/style.min.css -->
	<link rel="stylesheet" ng-if="!previewMode" href="/css/style.css" />
	<!-- endbuild -->
	<!--//////////////////////////////////////////-->

	<style type="text/css">

		ng-form {
			display:block;
		}

		._highlight {
			position: relative;
		}

		._highlight:before {
			content: '';
			display: block;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			position: absolute;
			z-index: 10;
			cursor: pointer;
			background: rgba(27, 193, 254, 0.5);
			box-shadow: inset 0 0 0 20px #1bc3fe;
		}
	</style>

	<!--//////////////////////////////////////////-->
	<!-- fluro:googleanalytics -->
	<!-- fluro:headerinject -->
	<!--//////////////////////////////////////////-->

	<base href="/">
</head>

<body class="{{$root.bodyClasses}}">
	
	<!--//////////////////////////////////////////-->
	<!-- Application -->
	<application></application>
	<!--//////////////////////////////////////////-->



	<!--//////////////////////////////////////////-->
	<!-- build:js /js/vendor.js -->
	<!-- bower:js -->
	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="/bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
	<script src="/bower_components/api-check/dist/api-check.js"></script>
	<script src="/bower_components/angular-formly/dist/formly.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="/bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
	<script src="/bower_components/angular-loading-bar/build/loading-bar.js"></script>
	<script src="/bower_components/angular-resource/angular-resource.js"></script>
	<script src="/bower_components/angular-touch/angular-touch.js"></script>
	<script src="/bower_components/angular-ui-ace/ui-ace.js"></script>
	<script src="/bower_components/angular-ui-bootstrap-fontawesome/dist/ui-bootstrap-fontawesome-latest.js"></script>
	<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="/bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
	<script src="/bower_components/angularjs-socialshare/dist/angular-socialshare.min.js"></script>
	<script src="/bower_components/fluro.access/dist/fluro.access.js"></script>
	<script src="/bower_components/ngstorage/ngStorage.js"></script>
	<script src="/bower_components/fluro.config/dist/fluro.config.js"></script>
	<script src="/bower_components/fluro.auth/dist/fluro.auth.min.js"></script>
	<script src="/bower_components/fluro.util/dist/fluro-util.js"></script>
	<script src="/bower_components/lodash/lodash.js"></script>
	<script src="/bower_components/fluro.content/dist/fluro.content.min.js"></script>
	<script src="/bower_components/validator-js/validator.js"></script>
	<script src="/bower_components/fluro.validate/dist/fluro.validate.min.js"></script>
	<script src="/bower_components/fluro.interactions/dist/fluro.interactions.min.js"></script>
	<script src="/bower_components/fluro.notifications/dist/fluro.notifications.min.js"></script>
	<script src="/bower_components/angular-youtube-mb/src/angular-youtube-embed.js"></script>
	<script src="/bower_components/fluro.video/dist/fluro.video.min.js"></script>
	<script src="/bower_components/moment/moment.js"></script>
	<script src="/bower_components/ng-currency/dist/ng-currency.min.js"></script>
	<script src="/bower_components/ng-sortable/dist/ng-sortable.js"></script>
	<script src="/bower_components/angular-animate/angular-animate.js"></script>
	<script src="/bower_components/async/lib/async.js"></script>
	<script src="/bower_components/fluro.socket/dist/fluro.socket.js"></script>
	<script src="/bower_components/fluro.types/dist/fluro.types.js"></script>
	<script src="/bower_components/fluro.asset/dist/fluro.asset.js"></script>
	<script src="/bower_components/fluro.customer/dist/fluro-customer.js"></script>
	<script src="/bower_components/SHA-1/sha1.js"></script>
	<script src="/bower_components/angulartics/src/angulartics.js"></script>
	<script src="/bower_components/angulartics-google-analytics/lib/angulartics-ga.js"></script>
	<script src="/bower_components/jsondiffpatch/public/build/jsondiffpatch-full.js"></script>
	<!-- endbower -->
	<script src="/bower_components/ace-builds/src-min-noconflict/ace.js"></script>
	<script src="/bower_components/ace-builds/src-min-noconflict/mode-css.js"></script>
	<script src="/bower_components/ace-builds/src-min-noconflict/mode-javascript.js"></script>
	<script src="/bower_components/ace-builds/src-min-noconflict/mode-json.js"></script>
	<script src="/bower_components/ace-builds/src-min-noconflict/mode-scss.js"></script>
	<script src="/bower_components/ace-builds/src-min-noconflict/mode-html.js"></script>
	<script src="/bower_components/ace-builds/src-min-noconflict/ext-searchbox.js"></script>
	<script src="/bower_components/ace-builds/src-min-noconflict/ext-language_tools.js"></script>
	<script src="/bower_components/ace-builds/src-min-noconflict/ext-beautify.js"></script>
	<script src="/bower_components/ace-builds/src-min-noconflict/theme-tomorrow_night_eighties.js"></script>
	<script src="/bower_components/ace-builds/src-min-noconflict/snippets/snippets.js"></script>
	<script src="/bower_components/ace-builds/src-min-noconflict/snippets/html.js"></script>
	<script src="/bower_components/ace-builds/src-min-noconflict/snippets/javascript.js"></script>
	<script src="/bower_components/ace-builds/src-min-noconflict/snippets/sass.js"></script>
	<!-- endbuild -->  
	<!--//////////////////////////////////////////-->

	<!--//////////////////////////////////////////-->
	<!-- build:js /worker-json.js -->
	<script src="/bower_components/ace-builds/src-min-noconflict/worker-json.js"></script>
	<!-- endbuild --> 
	<!-- build:js /worker-html.js --> 
	<script src="/bower_components/ace-builds/src-min-noconflict/worker-html.js"></script>
	<!-- endbuild --> 
	<!-- build:js /worker-javascript.js --> 
	<script src="/bower_components/ace-builds/src-min-noconflict/worker-javascript.js"></script>
	<!-- endbuild --> 
	<!--//////////////////////////////////////////-->


	<!--//////////////////////////////////////////-->
	<!-- fluro:socketio -->
	<!-- fluro:appdata -->
	<!--//////////////////////////////////////////-->


	<!--//////////////////////////////////////////-->
	<!-- build:js /js/app.js -->
	<script src="/js/app.js"></script>
	<script src="/js/templates.js"></script>
	<!-- endbuild -->
	<!--//////////////////////////////////////////-->


	<!--//////////////////////////////////////////-->
	<!-- fluro:devstart -->
	<script src="http://localhost:9002/livereload.js"></script>  
	<!-- fluro:devend -->
	<!--//////////////////////////////////////////-->

	<!--//////////////////////////////////////////-->
	<!-- fluro:footerinject -->
	<!--//////////////////////////////////////////-->


	<!-- include google maps -->
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDY6QNvOwG0GUbZGJtZmLT5JjTf5bzmI6c"></script>
	
	<!-- Include recaptcha -->
	<script src="https://www.google.com/recaptcha/api.js?render=explicit" async></script>


</body>
</html>
